streamlit
textblob
scikit-learn
seaborn
matplotlib
wordcloud
plotly
spacy
nltk
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
punkt @ https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/tokenizers/punkt.zip
stopwords @ https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/packages/corpora/stopwords.zip
numpy
pandas
pyresparser
wheel
